.card-parent {
  padding: 2px;
  height: 105px;
  width: 75px;
  border-radius: 12px;
  background-color: rgb(11, 51, 251);
}

.card-base {
  background-color: aliceblue;
  display: flex;
  height: 100%;
  border-radius: 12px;
}

.card-left {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-red {
  font-weight: 600;
  font-size: 10px;
  color: red;
}

.card-black {
  font-weight: 600;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

.card-left img {
  width: 7px;
}

.card-right {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card-right > div {
  transform: rotate(180deg);
}

.card-right img {
  width: 7px;
}

.card-middle {
  height: 100%;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.card-middle img {
  width: 12px;
}
