.main-home{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.show-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
}