.main-pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    font-size: larger;
    font-weight: 600;
}

.info{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}