.invite-parent{
    background-color: var(--surface);
    margin: 25px 40px;
    height: 100%;
    max-width: 500px;
    width: 80%;
}

.invite-header{
    background-color: var(--primary);
    color: var(--surface);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.invite{
    background-color: var(--surface);
    height: 80px;
    display: flex;
}

.info{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.accept{
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept img{
    width: 45px;
    cursor: pointer;
}

.decline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.decline img{
    cursor: pointer;
    width: 45px;
}