.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar-profile {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar-profile .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-profile .name {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-profile .username {
    color: #666;
    font-size: 0.8rem;
}

.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn button {
    border: none;
    background-color: #ffcccc;
    color: #7e0c0c;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-btn button:hover {
    background-color: #760000;
    color: #fff;
}


