.room-container{
    background-color: var(--surface);
    height: auto;
    padding: 20px;
    border-radius: 8px;
}

.input-field-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-room{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
}