/*src/styles/components/Card.css*/
.card-container{
    background-color: rgb(177, 202, 255);
    height: 80%;
    width: 80%;
    max-width: 430px;
    padding: 20px;
    border-radius: 30px;
}

.contain{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.contain p{
    color: black;
    font-size: large;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-container{
    display: flex;
    flex-direction: column;
}